<div class="footer">
				<div class="buyer-help">
			<div class="skin">
				<dl class="help-nav">
					<dt>新手上路：</dt>
					<dd>
					    <ul>
						    <li><a href="http://www.7895123.com.cn" target="_blank">免淘网</a></li>
					    </ul>
					</dd>
					<dt>我是买家：</dt>
					<dd>
						<ul>
							<li><a href="http://bbs.7895123.com.cn" target="_blank">购物论坛</a></li>
						</ul>
					</dd>
					<dt>商城服务：</dt>
					<dd>
						<ul>
							<li><a href="http://club.7895123.com.cn" target="_blank">入住商城</a></li>
						</ul>
					</dd>
				</dl>
				<div align="right"><a href="http://www.7895123.com.cn" target="_blank" title="免淘网"><img src="img/taobaogouwu.gif"  border="0"/></a></div>			
			</div>
		</div>
        <div class="foot-nav">
			 免淘网阿里妈妈 - 淘客推广网络：<a href="http://www.7895123.com.cn/" target="_blank">免淘网</a> | <a href="http://mall.7895123.com.cn/" target="_blank">淘宝商城</a> | <a href="http://taobao.7895123.com.cn/" target="_blank">淘宝网购物</a> | <a href="http://taoke.7895123.com.cn/" target="_blank">淘客圈</a> | <a href="http://api.7895123.com.cn/" target="_blank">淘客API</a> | <a href="http://club.7895123.com.cn/" target="_blank">淘客俱乐部</a> | <a href="http://bbs.7895123.com.cn/" target="_blank">淘宝网购物论坛</a> | <a href="http://demo.7895123.com.cn" target="_blank">淘客推广系统</a> | <a href="http://chongzhi.7895123.com.cn/" target="_blank">淘宝网充值</a>
		</div>
        <div class="copyright">Copyright 2008-2009, 版权所有 7895123.com.cn<br/><font color="red"><b>【重要声明】此版为开发版，请修改后使用。</b></font>
        <br/><a target="_blank" href="http://www.miibeian.gov.cn">省ICP备7895123号</a><br/><script src="http://s138.cnzz.com/stat.php?id=1559636&web_id=1559636" language="JavaScript" charset="gb2312"></script>
</div>
        </div>