.handy li,.yachter .spirit-button,.millet li{background:url(../img/default_hor_bg.gif) 0 0 no-repeat;}.handy li{background-repeat:repeat-x;}.yachter .spirit-button{background-position:0 -24px;background-repeat:repeat-x;}.millet li{background-position:0 -44px;}
.category,.category h3,.silbo-slide,.guide ul,.announce h3,.announce li,.tour a,.tour a.tourist01,.tour a.tourist02,.brand,.brand li a,.ew-panel-hd,.ew-tab-menu li,.ew-tab-menu li a,.ew-tab-menu li a span,.yachty,.yachtsman li,.yachtsman li a,.yachtsman-game span,.yachtsman-mobile span,.yachtsman-ticket span,.yachtsman-hotel span,
.yachter-feel,.yachter-feel li{background:url(../img/default_first_0725.gif) 0 0 no-repeat;}
.category h3{background-position:-714px -262px;}.category .limb-01 h3{background-position:-714px -262px;}.category .limb-02 h3{background-position:-714px -288px;}.category .limb-03 h3{background-position:-714px -314px;}.category .limb-04 h3{background-position:-714px -340px;}.category .limb-05 h3{background-position:-714px -366px;}.category .limb-06 h3{background-position:-714px -392px;}.silbo-slide{background-position:100% 0;}.guide ul{background-position:-226px -260px;}.announce h3{background-position:-457px -464px;}.announce li{background-position:-717px -430px;}.tour a{background-position:-720px -449px;}.tour .tourer01{background-position:-457px -428px;}.tour .tourer02{background-position:-562px -428px;}.brand{background-position:0 -669px;}.brand li a{background-position:0 -603px;}
.yachty{background-position:-510px -585px;}
.yachtsman li{background-position:0 -828px;}
.yachtsman li a{background-position:100% -828px;}
.yachtsman li.selected{background-position:0 -867px;}
.yachtsman li.selected a{background-position:100% -867px;}
.yachtsman-game span{background-position:-714px -507px;}
.yachtsman-mobile span{background-position:-714px -481px;}
.yachtsman-ticket span{background-position:-714px -534px;}
.yachtsman-hotel span{background-position:-714px -559px;}
.yachter-feel{background-position:-456px -503px;}
.yachter-feel li{background-position:-717px -430px;}
.ew-panel-hd{background-position:-377px -670px;}
.ew-tab-menu li{background-position:0 -565px;}
.ew-tab-menu li a{background-position:100% -670px;}
.ew-tab-menu li a span{background-position:714px -479px;}
.ew-tab-menu li.ew-tab-item-1 a span{background-position:-714px -505px;}.ew-tab-menu li.ew-tab-item-2 a span{background-position:-714px -531px;}.ew-tab-menu li.selected{background-position:0 -530px;}.ew-tab-menu li.selected a{background-position:right -640px;}.category li,.rye li,.rice li{background:url(../img/default_dotted.gif) 0 0 repeat-x;}.rye li a,.rice li a.new{background:url(../img/default_icon.gif) 0 0 no-repeat;}.rye li a{background-position:0 -88px;}.rice li a.new{background-position:100% 5px;}.tree-trunk-01 h2,.tree-trunk-02 h2,.tree-trunk-03 h2,.tree-trunk-04 h2,.tree-trunk-05 h2,.tree-trunk-06 h2,.tree-trunk-07 h2,.tree-trunk-08 h2,.tree-trunk-09 h2{background:url(../img/default_h2_v2.png) 0 0 no-repeat;}.tree-trunk-02 h2{background-position:0 -28px;}.tree-trunk-03 h2{background-position:0 -56px;}.tree-trunk-04 h2{background-position:0 -84px;}.tree-trunk-05 h2{background-position:0 -112px;}.tree-trunk-06 h2{background-position:0 -140px;}.tree-trunk-07 h2{background-position:0 -168px;}.tree-trunk-08 h2{background-position:0 -196px;}.tree-trunk-09 h2{background-position:0 -250px;}em.ha{font-weight:700;font-style:normal;color:#f75c3d;}.body{font-size:12px;}.body-skin{width:950px;border:0;margin:0 auto;}.body-skin:after{content:"";clear:both;display:block;height:0;visibility:hidden;}.handy{float:right;list-style:none;margin:-23px 0 0 0;padding:0;}.handy li{*display:inline;float:left;height:22px;margin:0 0 0 6px;padding:0 10px;border:1px solid #e4e4e4;border-bottom-width:0;background-repeat:repeat-x;line-height:22px;}.handy li a:link,.handy li a:visited{color:#666;text-decoration:none;}.handy li a:hover,.handy li a:active{text-decoration:underline;}.handy li.highlight a:link,.handy li.highlight a:visited{color:#a50110;}.preem{float:left;width:950px;margin-bottom:5px;}.category{margin-top:-2px;float:left;width:218px;height:598px;padding-top:5px;color:#a40004;}.category a:link,.category a:visited{color:#666;text-decoration:none;}.category a:hover,.category a:active{color:#f60;text-decoration:underline;}
.category ul{margin:0 18px 0 9px;width:191px;overflow:hidden;height:588px;}.category li{margin:-1px 0 0 0;padding:3px 0 1px 0;}.category h3{height:21px;overflow:hidden;padding:0 0 0 21px;font-size:12px;font-weight:700;line-height:21px;margin-bottom:2px;}.category h3 a{color:#a40004!important;text-decoration:none;}.category h3 a:hover{color:#f60!important;text-decoration:underline;}.category ul ul{margin:0;width:auto;height:auto;overflow:visible;zoom:1;margin:0;padding:0 0 1px 2px;*padding-bottom:6px;_padding-bottom:2px;overflow:hidden;line-height:18px;}.category li li{margin:0;padding:0;background:none;float:left;line-height:12px;margin:0 6px 5px 0;padding:1px 6px 0 0;border-right:1px solid #e6e6e6;white-space:nowrap;}.category dl{zoom:1;margin:0;padding:0 0 1px 2px;*padding-bottom:6px;_padding-bottom:2px;overflow:hidden;line-height:18px;}.category dt{display:none;}.category dd{float:left;line-height:12px;margin:0 6px 5px 0;padding:1px 6px 0 0;border-right:1px solid #e6e6e6;white-space:nowrap;}.silbo{float:left;width:512px;}.silbo-slide{height:200px;width:500px;padding:2px;}.silbo-slide #SlidePlayer{position:relative;margin:0 auto;}.silbo-slide .Slides{padding:0;margin:0;list-style:none;height:200px;overflow:hidden;}.silbo-slide .Slides li{float:left;height:200px;width:500px;}.silbo-slide .Slides img{border:0;display:block;width:500px;height:200px;}.silbo-slide .SlideTriggers{list-style:none;position:absolute;bottom:4px;_bottom:8px;right:3px;_right:6px;z-index:11;}.silbo-slide .SlideTriggers li{float:left;display:inline;color:#74a8ed;text-align:center;line-height:15px;width:15px;height:15px;font-family:Arial;font-size:.9em;cursor:pointer;overflow:hidden;margin:0 0 0 2px;border:1px solid #dcdcdc;background:white;color:#9f9f9f;}.silbo-slide .SlideTriggers li.Current{font-weight:bold;font-size:1.1em;background:#c00100;color:white;border:1px solid #a00100;}.silbo-slide .Slides li .SlideTitle{position:absolute;left:0;bottom:0;_bottom:-1px;z-index:10;width:500px;height:25px;line-height:25px;color:white;text-indent:8px;}.silbo-slide .Slides li .SlideTitle b{position:absolute;left:0;bottom:0;width:500px;height:25px;background:#c92e31;filter:alpha(opacity=70);opacity:.7;z-index:-1;}.silbo-slide .Slides li .SlideTitle a:link,.silbo-slide .Slides li .SlideTitle a:visited{color:white;}.guide{overflow:hidden;zoom:1;margin-bottom:10px;}.guide h3{height:28px;overflow:hidden;padding:0;font:bold 14px/33px Arial;text-indent:3px;color:#414141;}.guide a:link,.guide a:visited{color:#666;}.guide a:hover,.guide a:active{color:#f60;}.guide a img{border:1px solid #e4e4e4;vertical-align:middle;}.guide p{float:left;width:172px;padding:0;margin:0;}.guide p a img{display:block;width:160px;height:160px;padding:0;margin:0;}.guide ul{float:right;display:inline;width:320px;height:162px;margin-right:10px;padding:0 0 0 8px;}.guide li{float:left;width:155px;height:70px;padding:10px 0 0 0;}.guide li span.pic{float:left;width:67px;height:63px;}.guide li span.pic a img{width:60px;height:60px;}.guide li span.txt,.guide li span.price{float:left;width:80px;line-height:15px;overflow:hidden;}.guide li span.price{color:#c32d29;font-weight:bold;margin-top:3px;}.guide li span.price em{font-style:normal;}.brand{width:502px;height:72px;}.brand ul{margin:8px -8px 0 8px;float:left;display:inline;width:502px;height:56px;overflow:hidden;}.brand li{float:left;width:62px;height:52px;padding:2px;margin:0 4px 0 0;overflow:hidden;}.brand li a{display:block;padding:1px 0 0 1px;text-align:center;}.brand li a:link,.brand li a:visited{color:#5a8398;}.brand li a:hover,.brand li a:active{color:#f60;}.brand li a img{width:58px;height:33px;display:block;margin-bottom:6px;}.silbo-boat{overflow:hidden;zoom:1;width:507px;margin:0 -7px 10px 0;}.silbo-boat li{float:left;width:162px;margin-right:7px;}.silbo-boat li a img{display:block;width:160px;height:60px;border:1px solid #e4e4e4;}.gobi{width:220px;float:right;}.announce h3{font-size:14px;line-height:18px;height:26px;font-weight:bold;color:#333;}.announce ul{padding:3px 0 5px;}.announce li{line-height:18px;height:20px;overflow:hidden;}.announce a:link,.announce a:visited{color:#5a5a5a;padding-left:12px;}.tour{width:212px;height:131px;border:1px solid #e4e4e4;padding:6px 0 0 6px;margin-bottom:1px;}.tourist{padding:4px 0 0 2px;overflow:hidden;zoom:1;}.tourist a{float:left;display:inline;padding:1px 0 5px 7px;margin:0 13px 0 2px;white-space:nowrap;}.tourist .tourer01,.tourist .tourer02{float:left;text-indent:-9999px;overflow:hidden;width:98px;height:25px;margin:0;}.tour-boat{padding:6px 6px 0 0;}.tour-boat img{width:200px;display:block;}
.yacht{margin:0;}
.yacht h3{height:28px;overflow:hidden;padding:0;font:bold 14px/33px Arial;text-indent:3px;color:#414141;}
.yachty{height:230px;padding:4px 0 0 2px;overflow:hidden;}
.yachtsman{overflow:hidden;zoom:1;}
.yachtsman li{float:left;color:#fff;margin:0 2px 0 0;}
.yachtsman li a{overflow:hidden;padding:3px 4px;line-height:12px;float:left;}
.yachtsman li a:link,.yachtsman li a:visited{color:#333;text-decoration:none;}
.yachtsman li a:hover,.yachtsman li a:active{color:#f60;text-decoration:none;}
.yachtsman li a span{padding-left:19px;white-space:nowrap;float:left;display:block;height:19px;line-height:19px;}
.yachtsman li.selected{height:26px;}
.yachtsman li.selected a:link,.yachtsman li.selected a:visited{color:#666;}
.yachtsman li.selected a:hover,.yachtsman li.selected a:active{color:#f60;}
.yachter{display:none;padding:10px 0 14px 0;position:relative;}
.yachter-game,.yachter-mobile,.yachter-ticket,.yachter-hotel{height:130px;overflow:hidden;margin:0 4px;}
.yachter-game,.yachter-mobile{padding-left:20px;}
.yachter-ticket,.yachter-hotel{padding-left:6px;}
.yachter-feel{width:204px;height:63px;margin-top:5px;float:left;}
.yachter-feel ul{margin:5px;}
.yachter-feel li{height:18px;line-height:18px;padding-left:10px;overflow:hidden;}
.yachter-feel li a:link,.yachter-feel li a:visited{color:#414141;}
.yachter-feel li a:hover,.yachter-feel li a:active{color:#f60;}
.gobi-boat{float:left;margin-top:10px;}
.gobi-boat a img{border:1px solid #e4e4e4;width:218px;height:70px;}.field{clear:both;border:1px solid #e4e4e4;border-bottom-width:0;}.field-media{width:948px;overflow:hidden;}.field h2{overflow:hidden;height:28px;border-bottom:1px solid #e4e4e4;line-height:28px;text-indent:-9999em;}.ridge{float:right;position:relative;margin-top:-28px;height:28px;padding:0;line-height:28px;}.ridge li{float:left;padding:0 12px 0 0;}.ridge li a:link,.ridge li a:visited{color:#666;}.ridge li a:hover,.ridge li a:active{color:#f60;}.stook{zoom:1;}.stook:after{content:"";clear:both;display:block;height:0;visibility:hidden;}.straw{float:left;}.straw img{vertical-align:top;}.paddy{float:right;width:703px;padding:10px;border:5px solid #fddee6;border-left-width:0;overflow:hidden;}.hulled{width:440px;float:left;padding:0;}.millet{clear:both;padding-bottom:8px;}.millet ul{overflow:hidden;zoom:1;}.millet li{float:left;width:100px;padding:0 10px;margin-left:-10px;}.millet-img,.millet-img a{display:block;overflow:hidden;width:100px;height:100px;}.millet-img img{display:block;}.millet-hx{display:block;overflow:hidden;width:100px;height:30px;margin-top:5px;line-height:15px;}.millet-hx a:link,.millet-hx a:visited{color:#666;text-decoration:none;}.millet-hx a:hover,.millet-hx a:active{color:#f60;text-decoration:underline;}.millet-price{display:block;overflow:hidden;width:100px;color:#c00;}.maise{float:left;}.tree-trunk-01 .maise{width:200px;height:90px;border:1px solid #e4e4e4;}.maise img{vertical-align:top;}.rye{float:left;}.rye ul{overflow:hidden;margin-right:-10px;float:left;}.rye li{overflow:hidden;float:left;height:23px;width:210px;padding:0;margin:-1px 10px 0 0;line-height:22px;}.rye li a{display:block;padding:0 0 0 12px;}.poppy{float:left;width:430px;height:60px;margin:10px 0 0 0;background:#f2f2f2;}.poppy ul{overflow:hidden;zoom:1;}.poppy ul li{float:left;width:143px;}.poppy-img{*display:inline;float:left;margin:10px;border:1px solid #e4e4e4;}.poppy-hx{display:block;overflow:hidden;height:30px;padding-top:8px;}.poppy-hx a:link,.poppy-hx a:visited{color:#414141;}.poppy-hx a:hover,.poppy-hx a:active{color:#f60;}.poppy-price{display:block;line-height:20px;font-weight:700;color:#c00;white-space:nowrap;}.husked{float:right;width:253px;padding:0 0 0 10px;overflow:hidden;}.rice{width:100%;margin-bottom:-4px;}.rice h3{margin:0;padding:0;height:18px;border-bottom:1px solid #e4e4e4;font-size:14px;font-weight:700;line-height:16px;color:#f76d91;}.rice ol{overflow:hidden;padding:0 4px;}.rice li{height:25px;margin:-1px 0 0 0;line-height:23px;}.rice li .no{font-weight:700;color:#f7648a;}.rice li a{margin:0 5px;}.rice li a.new{padding:0 28px 0 0;}.surf{padding:4px 0 0;margin:0 0 -15px;zoom:1;}.surf li{padding:0 0 15px;}.surf li img{vertical-align:top;border:1px solid #e4e4e4;}.tree-trunk-sport h2{background-position:0 -222px!important;}.tree-trunk-sport .paddy{border-color:#bbc9f5!important;}.tree-trunk-shoes h2{background-position:0 -28px!important;}.tree-trunk-shoes .paddy{border-color:#B3A384!important;}.tree-trunk-shoes .rice h3{color:#6e624b!important;}.tree-trunk-01 .stook{height:350px;border-color:#ffa1c3;}.tree-trunk-01 .paddy{height:320px;}.tree-trunk-01 .rye{width:220px;padding-left:10px;}.tree-trunk-01 .rye li{height:24px;}.tree-trunk-02 .stook{height:250px;}.tree-trunk-02 .paddy{height:224px;border-color:#b3a384;padding:8px 10px;}.tree-trunk-02 .rice h3{color:#6e624b;}.tree-trunk-02 .rice li .no{color:#6e624b;}.tree-trunk-03 .stook{height:250px;}.tree-trunk-03 .paddy{height:224px;border-color:#6fddee6;padding:8px 10px;}.tree-trunk-03 .rice h3{color:#ad2481;}.tree-trunk-03 .rice li .no{color:#ad2481;}.tree-trunk-04 .stook{height:350px;}.tree-trunk-04 .paddy{height:320px;border-color:#9ecee2;padding:10px;}.tree-trunk-04 .maise{padding-bottom:8px;float:none;}.tree-trunk-04 .rye{margin-bottom:6px;}.tree-trunk-04 .millet{padding-bottom:0;}.tree-trunk-04 .rice h3{color:#3f3f3f;}.tree-trunk-04 .rice li .no{color:#3f3f3f;}.tree-trunk-05 .stook{height:250px;}.tree-trunk-05 .paddy{height:224px;border-color:#aae6e2;padding:8px 10px;}.tree-trunk-06 .stook{height:250px;}.tree-trunk-06 .paddy{height:224px;border-color:#eacd6a;padding:8px 10px;}.tree-trunk-07 .stook{height:250px;}.tree-trunk-07 .paddy{height:224px;border-color:#f8c3c4;padding:8px 10px;}.tree-trunk-07 .rice h3{color:#ff9768;}.tree-trunk-07 .rice li .no{color:#ff9768;}.tree-trunk-08 .stook{height:250px;}.tree-trunk-08 .paddy{height:224px;border-color:#c4de9d;padding:8px 10px;}.tree-trunk-08 .rice{margin-bottom:0;}.tree-trunk-08 .rice h3{color:#476c18;height:20px;}.tree-trunk-08 .rice li{height:27px;line-height:26px;}.tree-trunk-08 .rice li .no{color:#476c18;}.tree-trunk-09 .stook{height:250px;}.tree-trunk-09 .paddy{height:224px;border-color:#bca6f1;padding:8px 10px;}.tree-trunk-09 .rice{margin-bottom:0;}.tree-trunk-09 .rice h3{color:#bca6f1;height:20px;}.tree-trunk-09 .rice li{height:27px;line-height:26px;}.tree-trunk-09 .rice li .no{color:#bca6f1;}.header-bottom{background:none;font-size:0;height:10px;line-height:0;min-height:10px;}
a.listalll {
	color:#74081F;
	text-decoration: none;
	font-size: 12px;
}
a.listalll:hover {
	color:#CE2104;
}


.index_l .gg li i, .index_l .l_table .top, .index_l .l_table .top_r, .index_l .l_table .bottom, .index_l .l_table .bottom_r, .index_l .l_table i, .index_l .l_table .l_btn, .index_l .l_table .l_btn span, .pb .switcher, .index_r .tg .line li a,.index_r .tg .line li.selected a, .index_r .tg .line li a span, .index_r .tg .line li.selected a span, .index_r .lm_list .top, .index_r .lm_list .top .l, .index_r .lm_list .top .r,  .index_r .lm_list .bottom, .index_r .lm_list .bottom .l, .index_r .lm_list .bottom .r, .jyjl .top i, .jyjl .top .r, .jyjl .bottom, .jyjl .bottom .l, .jyjl .bottom .r, .index_bottom .bottom, .index_bottom .bottom .l, .index_bottom .bottom .r, .index_bottom .top, .index_bottom .top .l, .index_bottom .top .r, i.man, i.woman, .tsxx, .tsxx .r, i.bb{
background:url(../img/index_newbg.jpg);
}
.index_r{
float:left;
width:510px;
vertical-align:top;
}
.index_r .tg{
margin-top:2px;
_margin-top:1px;
}
.index_r .tg .line{
height:20px;
border-bottom:1px solid #F49920;
}
.index_r .tg .line li{
float:left;
margin-right:5px;
margin-top:8px;
}
.r{
margin-top:2px;
font-size:14px;
font-weight:bold;

}

.r span, .index_r .lm_list .top .l span, .jyjl .top span{
color:#EF5100;

}
.tgsp{
margin:10px 0px 10px 0px;
}
.tgsp li{
float:left;
width:165px;
_width:162px;
vertical-align:top;
margin:12px 0px 10px 0px;
#margin:10px 0px 7px 0px;
_margin:7px 0px 7px 0px;
}
.tgsp li .tgjg{
float:right;
position:absolute;
margin:0px 0px 5px 70px;
}
.tgsp li .tgjg li{
width:155px;
float:none;
line-height:20px;
margin:0px;
}
.tgsp li .tgjg li a:link, .tgsp li .tgjg li a:visited {
color:#0065FF;
}
.tgsp li .tgjg li strong{
color:red;
}
.index_r .tg .line li a{
background-position:left -452px;
background-repeat:no-repeat;
float:left;
height:20px;
background-repeat:no-repeat;
}
.index_r .tg .line li a span{
float:left;
background-position:right -472px;
background-repeat:no-repeat;
line-height:20px;
margin-left:19px;
padding-right:19px;
*padding-top:1px;
}
.index_r .tg .line li a:hover{
text-decoration:none;
}
.index_r .tg .line li.selected a{
float:left;
background-position:left -412px;
background-repeat:no-repeat;
}
.index_r .tg .line li.selected a span{
float:left;
background-position:right -432px;
background-repeat:no-repeat;
line-height:20px;
color:#fff;
margin-left:19px;
padding-right:19px;
}



